<div class="block">
    <h4 class="shadow">問題文</h4>
    <p>
        <!-- ここに問題文を記述してください。 -->

<p>英大文字(A-Z)で構成された長さ$N$の文字列$S$が与えられます</p>

<p>次の操作を1回の操作とします。この操作を何回でも行うことができるとします</p>
<ul>
<li>文字列$S$の$i$文字目を任意の英大文字(A-Z)に変更する  ($1 \le i \le N$)</li>
</ul>  

<p>整数$K$が与えられるので以下のルールを全て満たす文字列に変更するための最小の操作回数を求めてください</p>
<ul>
<li>$i$文字目と$(i+K)$文字目が同じ文字 ($1 \le i \le N - K$)</li>  
<li>$i$文字目と$(i+p)$文字目は異なる文字 ($1 \le p \lt K$, $1 \le i \le N - p$)</li>
</ul>

    </p>
</div>
<div class="block">
    <h4 class="shadow">入力</h4>
    <!-- この下に入力フォーマットを記述してください。MathJaxが使えます。 -->
    <pre>$N$ $K$
$S$
</pre>
    <p>

        <!-- ここに入力の説明、制約等を記述してください。 -->
<p>1行目に整数$N$と整数$K$が半角スペース区切りで与えられます</p>  
<p>2行目に文字列$S$が与えられます</p>  

<h5 class="shadow">制約</h5>
<p>
<p>$1 \le K \le 26$</p>
<p>$2*K \le N \le 100{,}000$</p>  
<p>$N$は$K$の倍数</p>  
<p>$S$の長さは$N$</p>  
<p>$S$は英大文字(A-Z)で構成される</p>  
<p>入力の$S$はルールを満たさない</p>
</p>

    </p>
</div>
<div class="block">
    <h4 class="shadow">出力</h4>
    <p>
        <!-- ここに出力内容を記述してください。特殊な形式でなければなるべく問題文に記載してください -->
<p>ルールを満たすよう変更するための最小の操作回数を出力してください</p>

        最後に改行してください。

    </p>
</div>
<div class="block">
    <h4 class="shadow">サンプル</h4>
    <div class="sample">
        <h5 class="underline">サンプル1</h5>
        <div class="paragraph">
            <h6>入力</h6>
            <pre><!-- ここにサンプルケース1の入力を記述してください。 -->15 3
AXCABCYBCABZABC
</pre>
            <h6>出力</h6>
            <pre><!-- ここにサンプルケース1に対する解を記述してください。 -->3</pre>
            <p>

                <!-- ここにサンプルケース1に対する説明を記述してください。なければ空欄で構いません。 -->

2文字目のXをB、7文字目のYをA、12文字目のZをCに変更すると
文字列$S$はABCABCABCABCABCになり
ルールを満たす最小の操作になります


            </p>
        </div>
    </div>


    <!-- サンプルケース2ここから。不要であれば、「サンプルケース2ここまで」の行まで削除してください。 -->
    <div class="sample">
        <h5 class="underline">サンプル2</h5>
        <div class="paragraph">
            <h6>入力</h6>
            <pre><!-- ここにサンプルケース2の入力を記述してください。 -->6 3
AAAAAA
</pre>
            <h6>出力</h6>
            <pre><!-- ここにサンプルケース2に対する解を記述してください。 -->4</pre>

            <p>
                <!-- ここにサンプルケース2に対する説明を記述してください。なければ空欄で構いません。 -->

ルールを満たす最小の変更には例えばUSAUSAやABCABCなどがあります  

            </p>
        </div>
    </div>
    <!-- サンプルケース2ここまで -->


    <!-- サンプルケース3ここから。不要であれば、「サンプルケース3ここまで」の行まで削除してください。 -->
    <div class="sample">
        <h5 class="underline">サンプル3</h5>
        <div class="paragraph">
            <h6>入力</h6>
            <pre><!-- ここにサンプルケース3の入力を記述してください。 -->10 1
JAPANJAPAN
</pre>
            <h6>出力</h6>
            <pre><!-- ここにサンプルケース3に対する解を記述してください。 -->6</pre>

            <p>
                <!-- ここにサンプルケース3に対する説明を記述してください。なければ空欄で構いません。 -->

全てのJ,P,NをAに変更することがルールを満たす最小の操作になります

            </p>
        </div>
    </div>
    <!-- サンプルケース3ここまで -->

    <!-- サンプルケースを増やす場合、ここから-ここまで のブロックをコピーし、サンプルケース番号を修正してください。 -->


    <!-- サンプルケース4ここから。不要であれば、「サンプルケース4ここまで」の行まで削除してください。 -->
    <div class="sample">
        <h5 class="underline">サンプル4</h5>
        <div class="paragraph">
            <h6>入力</h6>
            <pre><!-- ここにサンプルケース4の入力を記述してください。 -->26 13
ABCDEFGHIJKLMNOPQRSTUVWXYZ
</pre>
            <h6>出力</h6>
            <pre><!-- ここにサンプルケース4に対する解を記述してください。 -->13</pre>

            <p>
                <!-- ここにサンプルケース4に対する説明を記述してください。なければ空欄で構いません。 -->
            </p>
        </div>
    </div>
    <!-- サンプルケース4ここまで -->


    <!-- サンプルケース5ここから。不要であれば、「サンプルケース5ここまで」の行まで削除してください。 -->
    <div class="sample">
        <h5 class="underline">サンプル5</h5>
        <div class="paragraph">
            <h6>入力</h6>
            <pre><!-- ここにサンプルケース5の入力を記述してください。 -->60 6
BDHACEDAAGDCCCFDFBCECCDCEGADFAHBHBHAFACGHBEBCAABHHHGGFBEDADH
</pre>
            <h6>出力</h6>
            <pre><!-- ここにサンプルケース5に対する解を記述してください。 -->44</pre>

            <p>
                <!-- ここにサンプルケース5に対する説明を記述してください。なければ空欄で構いません。 -->
            </p>
        </div>
    </div>
    <!-- サンプルケース5ここまで -->
    
</div>
