<div class="block">
<h4 class="shadow">解説</h4>
<div>
<!--
$ 1+1$
    div タグでも preタグも もちろんMathJaxが使えます。
-->
<p>私(Writer)の解法(<span class="label label-success">AC</span>するコード)の説明となります</p>
<p>※これが想定解法という話ではなく、この方法でも解けるという話です</p>

<br />
<h5 class="shadow">概要</h5>
<ul>
<li><p>$1$～$N$の16進数の<code>F</code>と<code>B</code>の個数の総和を数える方法は色々とあると思いますが、
桁の組み合わせの総数を求める<b>動的計画法</b>を使って考えます
</p></li>
<li><p>$k$桁の16進数において$a_i$を$i$桁の値とすると$a_{k-1}*16^{(k-1)}+a_{k-2}*16^{(k-2)}+\dots+a_1*16^1+a_0*16^0$で表せます
</p><p>「$16$を$3,5,15$で割った余りは$1$」なので合同式を意識して上記の式を考察すると$3,5,15$の倍数は16進数の桁の和$\sum a_i$で判別が可能と分かります
</p></li>
<li><p>桁の組み合わせの総数を桁の和ごとに求めることによって$3,5,15$の倍数およびそれ以外の16進数の<code>F</code>と<code>B</code>の個数の総和を求められます
</p><p>これは<code>FizzBuzzString16(N)</code>の<code>F</code>と<code>B</code>の個数の総和となります
</p></li>
<li><p>$X$文字目と$Y$文字目の$N$に相当する値を特定できれば上記方法で<code>F</code>と<code>B</code>の個数を求めることが可能となります
</p></li>
<li><p>$X$文字目と$Y$文字目の$N$に相当する値は<code>FizzBuzzString16(N)</code>の文字列長を利用すると<b>二分探索</b>で求められます
</p></li>
<li><p><code>FizzBuzzString16(N)</code>の文字列長は$1$～$N$を16進数の桁数ごとに分けて考え、
その桁数の数の個数およびその桁数の$3,5,15$の倍数の個数が分かるのでそれぞれ<code>FizzBuzz16(i)</code>で変換した文字列長との積の総和が求めたい文字列長となります
</p></li>
</ul>


<br />
<h5 class="shadow">実装</h5>
<p>※変数名やメソッド名や関数名はあまり考えず命名したので多少おかしいところがあるかもしれません</p>
<details><summary><span class="btn btn-default">C++</span></summary>
<pre><code>#include &lt;algorithm&gt;
#include &lt;cmath&gt;
#include &lt;iostream&gt;
#include &lt;sstream&gt;
#include &lt;string&gt;

using namespace std;

string to_hex_string(int64_t i) {
    stringstream s;
    s &lt;&lt; std::uppercase &lt;&lt; std::hex &lt;&lt; i;
    return s.str();
}

string FizzBuzz16(int64_t i) {
    if (i % 15 == 0) {
        return "FizzBuzz";
    } else if (i % 3 == 0) {
        return "Fizz";
    } else if (i % 5 == 0) {
        return "Buzz";
    } else {
        return to_hex_string(i);
    }
}

string to_hex_string(int64_t i, int width) {
    stringstream s;
    s.width(width);
    s.fill('0');
    s &lt;&lt; std::uppercase &lt;&lt; std::hex &lt;&lt; i;
    return s.str();
}

// FizzBuzzString16(v)のFとBの個数の合計を求める
int64_t CountFBofFizzBuzzString16(int64_t v) {
    if (v &lt; 1) {
        return 0;
    }

    // 桁の組み合わせの総数
    // DP[桁数][桁の和][F,Bの個数]
    int64_t DP[10][150+16][11] = {};

    // DPの初期値の設定
    {
        int b = 0, c = 0;
        for (int a = 0; a &lt; 10; a++) {
            int d = stoi(to_hex_string(v, 10).substr(a, 1), nullptr, 16);
            for (int t = 0; t &lt; d; t++) {
                if (t == 0xB) {
                    DP[a][b+t][c+1] += 1;
                } else {
                    DP[a][b+t][c] += 1;
                }
            }
            if (d == 0xF || d == 0xB) {
                c++;
            }
            b += d;
        }
        DP[9][b][c] += 1;
    }

    for (int a = 0; a &lt; 9; a++) {
        for (int b = 0; b &lt; 150; b++) {
            for (int c = 0; c &lt; 10; c++) {
                for (int d = 0x0; d &lt; 0x10; d++) {
                    if (d == 0xF || d == 0xB) {
                        DP[a+1][b+d][c+1] += DP[a][b][c];
                    } else {
                        DP[a+1][b+d][c] += DP[a][b][c];
                    }
                }
            }
        }
    }

    int64_t count = 0;
    for (int b = 1; b &lt; 150; b++) {
        for (int c = 0; c &lt; 11; c++) {
            if (b % 15 == 0) {
                count += 2 * DP[9][b][c];
            } else if (b % 3 == 0) {
                count += DP[9][b][c];
            } else if (b % 5 == 0) {
                count += DP[9][b][c];
            } else {
                count += (int64_t)c * DP[9][b][c];
            }
        }
    }

    return count;
}

// FizzBuzzString16(v)の文字列長を求める
int64_t FizzBuzzString16Length(int64_t v) {
    if (v &lt; 0) {
        return 0;
    }

    int64_t length = 0;
    int64_t digit_size = 1;

    while (true) {
        int64_t lower = (int64_t)pow(16.0, digit_size - 1.0);
        if (lower &gt; v) {
            return length;
        }
        int64_t upper = min(v, lower * 16 - 1);

        int64_t count15 = (upper / 15) - ((lower - 1) / 15);
        int64_t count3 = (upper / 3) - ((lower - 1) / 3);
        int64_t count5 = (upper / 5) - ((lower - 1) / 5);
        int64_t count = upper - (lower - 1L);

        int64_t fizzbuzz = 8 * count15;
        int64_t fizz = 4 * (count3 - count15);
        int64_t buzz = 4 * (count5 - count15);
        int64_t hex_number = digit_size * (count - (count3 + count5 - count15));
        length += fizzbuzz + fizz + buzz + hex_number;

        digit_size++;
    }
}

// FizzBuzzString16(1000000000000)のv文字目において
//   FizzBuzzString16Length(N - 1) &lt; v &lt;= FizzBuzzString16Length(N)
// となるNを求める
int64_t FindNfromPosition(int64_t v) {
    int64_t lower = 0;
    int64_t upper = 1000000000001;
    while (lower + 1 &lt; upper) {
        int64_t middle = (lower + upper) / 2;
        int64_t count = FizzBuzzString16Length(middle);
        if (count &lt; v) {
            lower = middle;
        } else {
            upper = middle;
        }
    }
    return upper;
}

// FizzBuzzString16(1000000000000)の1文字目からv文字目までのFとBの個数の合計を求める
int64_t CountFBtoPosition(int64_t v) {
    if (v &lt; 1) {
        return 0;
    }
    int64_t N = FindNfromPosition(v);
    int64_t count = CountFBofFizzBuzzString16(N - 1);
    int length = (int)(v - FizzBuzzString16Length(N - 1));
    string s = FizzBuzz16(N);
    for (int i = 0; i &lt; length; i++) {
        if (s[i] == 'F' || s[i] == 'B') {
            count++;
        }
    }
    return count;
}

int64_t solve(int64_t X, int64_t Y) {
    int64_t a = CountFBtoPosition(Y);
    int64_t b = CountFBtoPosition(X - 1);
    int64_t answer = a - b;
    return answer;
}

int main() {
    int64_t X, Y, answer;
    cin &gt;&gt; X;
    cin &gt;&gt; Y;
    answer = solve(X, Y);
    cout &lt;&lt; answer &lt;&lt; endl;
    return 0;
}
</code></pre></details>
<details><summary><span class="btn btn-default">Python3</span></summary>
<pre><code>def FizzBuzz16(i):
    if i % 15 == 0:
        return "FizzBuzz"
    elif i % 3 == 0:
        return "Fizz"
    elif i % 5 == 0:
        return "Buzz"
    else:
        return "%X" % i


# FizzBuzzString16(v)のFとBの個数の合計を求める
def CountFBofFizzBuzzString16(v):
    if v &lt; 1:
        return 0
    
    # 桁の組み合わせの総数
    # DP[桁数][桁の和][F,Bの個数]
    DP = [[[0]*11 for _b in range(150+16)] for _a in range(10)]
    
    # DPの初期値の設定
    b = 0
    c = 0
    for a in range(10):
        d = int(("%010X" % v)[a], 16)
        for t in range(d):
            if t == 0xB:
                DP[a][b+t][c+1] += 1
            else:
                DP[a][b+t][c] += 1
        if d == 0xF or d == 0xB:
            c += 1
        b += d
    DP[9][b][c] += 1
    
    for a in range(9):
        for b in range(150):
            for c in range(10):
                for d in range(0x10):
                    if d == 0xF or d == 0xB:
                        DP[a+1][b+d][c+1] += DP[a][b][c]
                    else:
                        DP[a+1][b+d][c] += DP[a][b][c]
    
    count = 0
    for b in range(1,150):
        for c in range(11):
            if b % 15 == 0:
                count += 2 * DP[9][b][c]
            elif b % 3 == 0:
                count += DP[9][b][c]
            elif b % 5 == 0:
                count += DP[9][b][c]
            else:
                count += c * DP[9][b][c]
    
    return count


# FizzBuzzString16(v)の文字列長を求める
def FizzBuzzString16Length(v):
    if v &lt; 1:
        return 0
    length = 0
    digit_size = 1
    while True:
        lower = pow(16, digit_size-1)
        if lower &gt; v:
            return length
        upper = min(v, lower*16-1)
        
        count15 = (upper // 15) - ((lower-1) // 15)
        count3 = (upper // 3) - ((lower-1) // 3)
        count5 = (upper // 5) - ((lower-1) // 5)
        count = upper - (lower-1)
        
        fizzbuzz = 8 * count15
        fizz = 4 * (count3 - count15)
        buzz = 4 * (count5 - count15)
        hex_number = digit_size * (count - (count3 + count5 - count15))
        
        length += fizzbuzz + fizz + buzz + hex_number
        
        digit_size += 1


# FizzBuzzString16(1000000000000)のv文字目において
#   FizzBuzzString16Length(N - 1) &lt; v &lt;= FizzBuzzString16Length(N)
# となるNを求める
def FindNfromPosition(v):
    lower = 0
    upper = 1000000000001
    while lower + 1 &lt; upper:
        middle = (lower + upper) // 2
        count = FizzBuzzString16Length(middle)
        if count &lt; v:
            lower = middle
        else:
            upper = middle
    return upper


# FizzBuzzString16(1000000000000)の1文字目からv文字目までのFとBの個数の合計を求める
def CountFBtoPosition(v):
    if v &lt; 1:
        return 0
    N = FindNfromPosition(v)
    count = CountFBofFizzBuzzString16(N - 1)
    length = v - FizzBuzzString16Length(N - 1)
    for ch in FizzBuzz16(N)[:length]:
        if ch == 'F' or ch == 'B':
            count += 1
    return count


def solve(X, Y):
    a = CountFBtoPosition(Y)
    b = CountFBtoPosition(X - 1)
    answer = a - b
    return answer


if __name__ == '__main__':
    X = int(input().strip())
    Y = int(input().strip())    
    ans = solve(X,Y)
    print(ans)
</code></pre></details>
<details><summary><span class="btn btn-default">Java</span></summary>
<pre><code>import java.util.*;

public class Solution {

    public static void main(String[] args) throws Exception {
        Scanner scanner = new Scanner(System.in);

        long X = scanner.nextLong();
        long Y = scanner.nextLong();

        long answer = new Solution().solve(X, Y);

        System.out.println(answer);
    }

    long solve(long X, long Y) {
        long a = CountFBtoPosition(Y);
        long b = CountFBtoPosition(X - 1L);
        long answer = a - b;
        return answer;
    }

    String FizzBuzz16(long i) {
        if (i % 15L == 0L) {
            return "FizzBuzz";
        } else if (i % 3L == 0L) {
            return "Fizz";
        } else if (i % 5L == 0L) {
            return "Buzz";
        } else {
            return String.format("%X", i);
        }
    }

    // FizzBuzzString16(1000000000000)の1文字目からv文字目までのFとBの個数の合計を求める
    long CountFBtoPosition(long v) {
        if (v &lt; 1L) {
            return 0L;
        }
        long N = FindNfromPosition(v);
        long count = CountFBofFizzBuzzString16(N - 1L);
        int length = (int)(v - FizzBuzzString16Length(N - 1L));
        String s = FizzBuzz16(N);
        for (int i = 0; i &lt; length; i++) {
            if (s.charAt(i) == 'F' || s.charAt(i) == 'B') {
                count++;
            }
        }
        return count;
    }

    // FizzBuzzString16(1000000000000)のv文字目において
    //   FizzBuzzString16Length(N - 1) &lt; v &lt;= FizzBuzzString16Length(N)
    // となるNを求める
    long FindNfromPosition(long v) {
        long lower = 0L;
        long upper = 1000000000001L;
        while (lower + 1L &lt; upper) {
            long middle = (lower + upper) / 2L;
            long count = FizzBuzzString16Length(middle);
            if (count &lt; v) {
                lower = middle;
            } else {
                upper = middle;
            }
        }
        return upper;
    }

    // FizzBuzzString16(v)の文字列長を求める
    long FizzBuzzString16Length(long v) {
        if (v &lt; 0L) {
            return 0L;
        }

        long length = 0L;
        long digit_size = 1L;

        while (true) {
            long lower = (long)Math.pow(16.0, digit_size - 1.0);
            if (lower &gt; v) {
                return length;
            }
            long upper = Math.min(v, lower * 16L - 1L);

            long count15 = (upper / 15L) - ((lower - 1L) / 15L);
            long count3 = (upper / 3L) - ((lower - 1L) / 3L);
            long count5 = (upper / 5L) - ((lower - 1L) / 5L);
            long count = upper - (lower - 1L);

            long fizzbuzz = 8L * count15;
            long fizz = 4L * (count3 - count15);
            long buzz = 4L * (count5 - count15);
            long hex_number = digit_size * (count - (count3 + count5 - count15));
            length += fizzbuzz + fizz + buzz + hex_number;

            digit_size++;
        }
    }

    // FizzBuzzString16(v)のFとBの個数の合計を求める
    long CountFBofFizzBuzzString16(long v) {
        if (v &lt; 1L) {
            return 0L;
        }

        // 桁の組み合わせの総数
        // DP[桁数][桁の和][F,Bの個数]
        long[][][] DP = new long[10][150+16][11];

        // DPの初期値の設定
        {
            int b = 0, c = 0;
            for (int a = 0; a &lt; 10; a++) {
                int d = Character.digit(String.format("%010X", v).charAt(a), 16);
                for (int t = 0; t &lt; d; t++) {
                    if (t == 0xB) {
                        DP[a][b+t][c+1] += 1L;
                    } else {
                        DP[a][b+t][c] += 1L;
                    }
                }
                if (d == 0xF || d == 0xB) {
                    c++;
                }
                b += d;
            }
            DP[9][b][c] += 1L;
        }

        for (int a = 0; a &lt; 9; a++) {
            for (int b = 0; b &lt; 150; b++) {
                for (int c = 0; c &lt; 10; c++) {
                    for (int d = 0x0; d &lt; 0x10; d++) {
                        if (d == 0xF || d == 0xB) {
                            DP[a+1][b+d][c+1] += DP[a][b][c];
                        } else {
                            DP[a+1][b+d][c] += DP[a][b][c];
                        }
                    }
                }
            }
        }

        long count = 0L;
        for (int b = 1; b &lt; 150; b++) {
            for (int c = 0; c &lt; 11; c++) {
                if (b % 15 == 0) {
                    count += 2L * DP[9][b][c];
                } else if (b % 3 == 0) {
                    count += DP[9][b][c];
                } else if (b % 5 == 0) {
                    count += DP[9][b][c];
                } else {
                    count += (long)c * DP[9][b][c];
                }
            }
        }

        return count;
    }
}
</code></pre></details>


<br />
<h5 class="shadow">実装の説明</h5>
<p>※ごちゃごちゃとした説明で少し読みにくいかもしれません</p>
<details>
<summary><span class="btn btn-default">表示する</span></summary>
<br />
<h5 class="shadow">(1) <code>solve(X,Y)</code>の実装</h5>
<ul><li>
<p><code>CountFBtoPosition(v)</code>を<code>FizzBuzzString16(1000000000000)</code>の$1$文字目から$v$文字目までの文字<code>F</code>と文字<code>B</code>の個数の合計を求める関数とします</p>
<p>※<code>CountFBtoPosition(v)</code>で引数$v$が$1$未満の場合は$0$を返すものとします</p>
</li></ul>
<p>問題の答えは<code>CountFBtoPosition(Y) - CountFBtoPosition(X - 1)</code>で求まります</p>
<h6>Pythonのコード(抜粋)</h6>
<pre><code>def solve(X, Y):
    a = CountFBtoPosition(Y)
    b = CountFBtoPosition(X - 1)
    answer = a - b
    return answer
</code></pre>

<br />
<h5 class="shadow">(2) <code>CountFBtoPosition(v)</code>の実装</h5>
<ul><li>
<p><code>FizzBuzzString16Length(v)</code>を<code>FizzBuzzString16(v)</code>の文字列長を求める関数とします</p>
<p>※<code>FizzBuzzString16Length(v)</code>で引数$v$が$1$未満の場合は$0$を返すものとします</p>
</li></ul>
<p><code>FizzBuzzString16(1000000000000)</code>の$P$文字目において
$FizzBuzzString16Length(N - 1) \lt P \le FizzBuzzString16Length(N)$
となる整数$N$が存在します</p>
<pre>例えば $P=19$ の場合
FizzBuzzString16(8) は "12Fizz4BuzzFizz78" で 文字列長は 17
FizzBuzzString16(9) は "12Fizz4BuzzFizz78Fizz" で 文字列長は 21
$FizzBuzzString16Length(8) = 17 \lt 19 \le FizzBuzzString16Length(9) = 21$ なので
$P=19$においては$9$が$N$に該当します
</pre>
<ul><li>
<p><code>CountFBofFizzBuzzString16(v)</code>を<code>FizzBuzzString16(v)</code>の文字<code>F</code>と文字<code>B</code>の個数の合計を求める関数とします</p>
<p>※<code>CountFBofFizzBuzzString16(v)</code>で引数$v$が$1$未満の場合は$0$を返すものとします</p>
</li></ul>
<p><code>FizzBuzzString16(1000000000000)</code>の$P$文字目において
$CountFBofFizzBuzzString16(N - 1) \lt CountFBtoPosition(P) \le CountFBofFizzBuzzString16(N)$
となる整数$N$が存在します</p>
<p><code>FizzBuzzString16(N)</code>は<code>FizzBuzzString16(N-1)</code>と<code>FizzBuzz16(N)</code>を文字列結合したものです</p>
<p><code>FizzBuzzString16(1000000000000)</code>の$P$文字目の文字は<code>FizzBuzz16(N)</code>のどこかの文字です</p>
<p><code>CountFBofFizzBuzzString16(N - 1)</code>を求めたのち
<code>FizzBuzz16(N)</code>の$P$文字目に該当する位置を<code>FizzBuzzString16Length(N - 1)</code>を利用することで特定しその部分までの<code>FizzBuzz16(N)</code>の文字<code>F</code>と文字<code>B</code>の個数の合計を求めることで
<code>CountFBtoPosition(P)</code>を計算することができます</p>
<ul><li>
<p><code>FindNfromPosition(v)</code>を<code>FizzBuzzString16(1000000000000)</code>の$v$文字目において
$FizzBuzzString16Length(N - 1) \lt v \le FizzBuzzString16Length(N)$
となる整数$N$を求める関数とします</p>
<p>※<code>FindNfromPosition(v)</code>で引数$v$が$1$未満の場合は$0$を返すものとします</p>
</li></ul>
<h6>Pythonのコード(抜粋)</h6>
<pre><code>def CountFBtoPosition(v):
    if v &lt; 1:
        return 0
    N = FindNfromPosition(v)
    count = CountFBofFizzBuzzString16(N - 1)
    length = v - FizzBuzzString16Length(N - 1)
    for ch in FizzBuzz16(N)[:length]:
        if ch == 'F' or ch == 'B':
            count += 1
    return count
</code></pre>

<br />
<h5 class="shadow">(3) <code>FizzBuzzString16Length(v)</code>の実装</h5>
<p>桁の大きさごとにまとめて考えます</p>
<pre>例えば
16進表記で$1$桁になる数の範囲は$1_{(16)}$から$F_{(16)}$です (※都合上$0_{(16)}$は除外します)
16進表記で$2$桁になる数の範囲は$10_{(16)}$から$FF_{(16)}$です
16進表記で$3$桁になる数の範囲は$100_{(16)}$から$FFF_{(16)}$です
16進表記で$4$桁になる数の範囲は$1000_{(16)}$から$FFFF_{(16)}$です
16進表記で$5$桁になる数の範囲は$10000_{(16)}$から$FFFFF_{(16)}$です
</pre>
<p>それぞれの桁において<code>FizzBuzz16(v)</code>で生成される文字列は下記の$4$つのパターンです</p>
<ul>
<li>$15$の倍数になる数は<code>"FizzBuzz"</code>の長さ$8$文字の文字列</li>
<li>$15$の倍数ではない$3$の倍数になる数は<code>"Fizz"</code>の長さ$4$文字の文字列</li>
<li>$15$の倍数ではない$5$の倍数になる数は<code>"Buzz"</code>の長さ$4$文字の文字列</li>
<li>$3,5,15$のいずれの倍数でもない数は16進表記されたその桁の長さの文字列</li>
</ul>
<p>つまり、<code>FizzBuzzString16Length(v)</code>はそれぞれの桁において上記に該当する数の個数を求めることによって計算が可能です</p>
<h6>Pythonのコード(抜粋)</h6>
<pre><code>def FizzBuzzString16Length(v):
    if v &lt; 1:
        return 0
    length = 0
    digit_size = 1
    while True:
        lower = pow(16, digit_size-1)
        if lower &gt; v:
            return length
        upper = min(v, lower*16-1)
        
        count15 = (upper // 15) - ((lower-1) // 15)
        count3 = (upper // 3) - ((lower-1) // 3)
        count5 = (upper // 5) - ((lower-1) // 5)
        count = upper - (lower-1)
        
        fizzbuzz = 8 * count15
        fizz = 4 * (count3 - count15)
        buzz = 4 * (count5 - count15)
        hex_number = digit_size * (count - (count3 + count5 - count15))
        
        length += fizzbuzz + fizz + buzz + hex_number
        
        digit_size += 1
</code></pre>

<br />
<h5 class="shadow">(4) <code>FindNfromPosition(v)</code>の実装</h5>
<p><code>FizzBuzzString16(1000000000000)</code>の$v$文字目において
$FizzBuzzString16Length(N - 1) \lt v \le FizzBuzzString16Length(N)$
となる整数$N$を求めます</p>
<p>正の整数$v$において常に$FizzBuzzString16Length(v) \lt FizzBuzzString16Length(v+1)$が成り立ち単調性があるので二分探索を使って$N$を求められます</p>
<p>※$v \le FizzBuzzString16Length(v)$なので
問題の入力の$X,Y$の最大値は$1000000000000$より
二分探索時の初期上限は雑に$1000000000001$としました</p>
<h6>Pythonのコード(抜粋)</h6>
<pre><code>def FindNfromPosition(v):
    lower = 0
    upper = 1000000000001
    while lower + 1 &lt; upper:
        middle = (lower + upper) // 2
        count = FizzBuzzString16Length(middle)
        if count &lt; v:
            lower = middle
        else:
            upper = middle
    return upper
</code></pre>

<br />
<h5 class="shadow">(5) <code>CountFBofFizzBuzzString16(v)</code>の実装</h5>
<p><code>CountFBofFizzBuzzString16(v)</code>は<code>FizzBuzzString16(v)</code>の文字<code>F</code>と文字<code>B</code>の個数の合計を求める関数です</p>
<p>$1000000000000 \lt FizzBuzzString16Length(1000000000000)$であり
問題の入力の$X,Y$の最大値は$1000000000000$なので
<code>CountFBofFizzBuzzString16(v)</code>の引数$v$は$1000000000000$未満が渡されることになります</p>
<p>$1000000000000$は16進表記すると$E8D4A51000_{(16)}$で$10$桁になります</p>
<p><code>CountFBofFizzBuzzString16(v)</code>の引数$v$は$1000000000000$未満なので$v$を16進表記すると$10$桁以下になることが分かります</p>
<p>FizzBuzzを考えない場合の、上位桁を$0$埋めた$10$桁の16進表記、
$0000000000_{(16)}$から$FFFFFFFFFF_{(16)}$において、
桁の組み合わせの総数を求める方法は様々ありますが、
ここでは「対象の桁を増やしながら組み合わせを計算していく動的計画法」を利用して<code>CountFBofFizzBuzzString16(v)</code>を求めます</p>
<p>16進法は $k_9*16^{9}+k_8*16^{8}+ \dots +k_1*16^{1}+k_0*16^{0}$ のような形で表せます</p>
<p>$16$を$3,5,15$で割った余りは全て$1$となるので16進数の桁の和でそれらの倍数判定ができることを意味します</p>
<pre>$k_9*16^{9}+k_8*16^{8}+\dots+k_1*16^{1}+k_0*16^{0} \equiv r_3 (\mod 3)$ は
$16 \equiv 1 (\bmod 3)$ より
$k_9+k_8+\dots+k_1+k_0 \equiv r_3 (\bmod 3)$
$k_9+k_8+\dots+k_1+k_0$　とは 16進数の桁の和
</pre>
<p>つまり、「対象の桁を増やしながら組み合わせを計算していく動的計画法」において
桁の和ごとにまとめることで$3,5,15$の倍数を考慮した結果を求められます</p>
<p>桁の和は最大の$FFFFFFFFFF_{(16)}$で$15*10=150$です</p>
<h6>Pythonのコード(抜粋)</h6>
<pre><code>def CountFBofFizzBuzzString16(v):
    if v &lt; 1:
        return 0
    
    # 桁の組み合わせの総数
    # DP[桁数][桁の和][F,Bの個数]
    DP = [[[0]*11 for _b in range(150+16)] for _a in range(10)]
    
    # DPの初期値の設定
    b = 0
    c = 0
    for a in range(10):
        d = int(("%010X" % v)[a], 16)
        for t in range(d):
            if t == 0xB:
                DP[a][b+t][c+1] += 1
            else:
                DP[a][b+t][c] += 1
        if d == 0xF or d == 0xB:
            c += 1
        b += d
    DP[9][b][c] += 1
        
    for a in range(9):
        for b in range(150):
            for c in range(10):
                for d in range(0x10):
                    if d == 0xF or d == 0xB:
                        DP[a+1][b+d][c+1] += DP[a][b][c]
                    else:
                        DP[a+1][b+d][c] += DP[a][b][c]
    
    count = 0
    for b in range(1,150):
        for c in range(11):
            if b % 15 == 0:
                count += 2 * DP[9][b][c]
            elif b % 3 == 0:
                count += DP[9][b][c]
            elif b % 5 == 0:
                count += DP[9][b][c]
            else:
                count += c * DP[9][b][c]
    
    return count
</code></pre>
</details>

<br />
<h5 class="shadow">補足</h5>
<details><summary><span class="btn btn-default">表示する</span></summary>
<p>この問題ではたまたま単純な桁の和$\sum a_i$でFizzBuzz判定を行えますが(私の解法ではそれを利用しましたが)
$\bmod$の和で考えるほうがよりよいと思います</p>
<p>$((a_{k-1}*16^{(k-1)})\bmod 15)+((a_{k-2}*16^{(k-2)})\bmod 15)+\dots+((a_1*16^1)\bmod 15)+((a_0*16^0)\bmod 15)$</p>
<p>たとえばこの問題がFizzBuzzではなく$7$の倍数と$11$の倍数で<code>"Foo"</code>に変化するという場合は最小公倍数の$77$を使い$\bmod 77$でDPします</p>
<p>$((a_{k-1}*16^{(k-1)})\bmod 77)+((a_{k-2}*16^{(k-2)})\bmod 77)+\dots+((a_1*16^1)\bmod 77)+((a_0*16^0)\bmod 77)$</p>
<br />
<p>私のPythonコードのDPを$\bmod 15$の和に変更した場合のDPしている部分は以下のようになると思います (※DP配列の初期化の部分なども修正が必要です)</p>
<pre><code>for a in range(9):
    p = pow(16, 9-(a+1))
    for b in range(15):
        for c in range(10):
            for d in range(0x10):
                if d == 0xF or d == 0xB:
                    DP[a+1][(b+(d*p)%15)%15][c+1] += DP[a][b][c]
                else:
                    DP[a+1][(b+(d*p)%15)%15][c] += DP[a][b][c]

# このDPは1～Nではなく0～Nの範囲を数えるので余計な0の分を減らします
DP[9][0][0] -= 1

count = 0
for b in range(15):
    for c in range(11):
        if b % 15 == 0:
            count += 2 * DP[9][b][c]
        elif b % 3 == 0:
            count += DP[9][b][c]
        elif b % 5 == 0:
            count += DP[9][b][c]
        else:
            count += c * DP[9][b][c]
</code></pre>
<br />
<h5 class="shadow"><code>F</code>と<code>B</code>を数える別の方法としては…</h5>
<p>問題の入力の$X,Y$は大きくないのでその位置に対応する値は最大でも16進数で10桁です</p>
<p>16進数の5桁の最大値$FFFFF_{(16)}=1{,}048{,}575_{(10)}$までならforループで全列挙は難しくないと思います
なので5桁あたりの位置で分けて考えます (<b>半分全列挙</b>のような方法です)</p>
<p>例えば$39F2AB7FC_{(16)}$なら次のように分けます</p>
<ul>
<li>$000000000_{(16)}$～$39F1FFFFF_{(16)}$</li>
<li>$39F200000_{(16)}$～$39F2AB7FC_{(16)}$</li>
</ul>
<p>後者($39F200000_{(16)}$～$39F2AB7FC_{(16)}$)は、forループなどで全ての値を<code>FizzBuzz16(i)</code>で変換し文字列内の<code>F</code>と<code>B</code>を数えることは難しくないと思います</p>
<p>前者($000000000_{(16)}$～$39F1FFFFF_{(16)}$)は、上位桁側$0000_{(16)}$～$39F1_{(16)}$と
下位桁側$00000_{(16)}$～$FFFFF_{(16)}$を
それぞれの範囲で16進数での<code>F</code>と<code>B</code>の個数を値の$\bmod15$ごとにまとめて
上位桁側の結果と下位桁側の結果を組み合わせることで倍数判定もでき総数を求めることができます</p>
<br />
<p>私のPythonコードの<code>CountFBofFizzBuzzString16(v)</code>を書き換えた場合</p>
<p>(※このコードをそのまま使うとPyPy3では<span class="label label-success">AC</span>しますが計算無駄が多いためPython3では<span class="label label-warning">TLE</span>します)</p>
<pre><code>def CountFBofFizzBuzzString16(v):
    if v &lt; 1:
        return 0

    count = 0

    # 後者
    for i in range(v-(v%0x100000), v+1):
        for ch in FizzBuzz16(i):
            if ch == 'F' or ch == 'B':
                count += 1

    if v &lt; 0x100000:
        return count - 2  # 0をFizzBuzzとしてカウントした分を減算します
    
    # 前者
    # 上位桁側
    upper_fb = [0] * 15
    upper_count = [0] * 15
    for i in range(v // 0x100000):
        tmp = 0
        for ch in "%X" % i:
            if ch == 'F' or ch == 'B':
                tmp += 1
        upper_fb[i % 15] += tmp
        upper_count[i % 15] += 1

    # 下位桁側
    lower_fb = [0] * 15
    lower_count = [0] * 15
    for i in range(0x100000):
        tmp = 0
        for ch in "%X" % i:
            if ch == 'F' or ch == 'B':
                tmp += 1
        lower_fb[i % 15] += tmp
        lower_count[i % 15] += 1

    # 上位桁側と下位桁側の組み合わせ
    for a in range(15):
        for b in range(15):
            if (a+b) % 3 != 0 and (a+b) % 5 != 0:
                count += upper_fb[a] * lower_count[b]
                count += lower_fb[b] * upper_count[a]

    # "FizzBuzz"の個数分足す (この計算式では0はFizzBuzzとしてはカウントされません)
    count15 = (v-(v%0x100000)-1) // 15
    count += 2 * count15
    # "Fizz"の個数分足す
    count3 =  (v-(v%0x100000)-1) // 3
    count += count3 - count15
    # "Buzz"の個数分足す
    count5 = (v-(v%0x100000)-1) // 5
    count += count5 - count15
    
    return count
</code></pre>
</details>

<br />
<br />
</div>
</div>
