<div class="block">
    <h4 class="shadow">問題文</h4>
    <p>
        <!-- ここに問題文を記述してください。 -->
<p><code>FizzBuzz16</code>を次のように定義します (※擬似言語コード)</p>
<pre><code>function FizzBuzz16(i) {
    if ( i % 15 == 0 ) {
        return "FizzBuzz"
    } else if ( i % 3 == 0 ) {
        return "Fizz"
    } else if ( i % 5 == 0 ) {
        return "Buzz"
    } else {
        return i.toString(16).toUpperCase()
    }
}
</code></pre>
<p><code>i.toString(16).toUpperCase()</code>は整数<code>i</code>を16進表記(英字は大文字)の文字列に変換する処理です</p>  
<p>例えば<code>FizzBuzz16(14)</code>は<code>"E"</code>、<code>FizzBuzz16(15)</code>は<code>"FizzBuzz"</code>、<code>FizzBuzz16(16)</code>は<code>"10"</code>、<code>FizzBuzz16(251)</code>は<code>"FB"</code>になります</p>  
<br /> 
<p><code>FizzBuzzString16</code>を次のように定義します (※擬似言語コード)</p>
<pre><code>function FizzBuzzString16(n) {
    s = ""
    for ( i = 1 ; i &lt;= n ; i++ ) {
        s += FizzBuzz16(i)
    }
    return s
}
</code></pre>
<p>例えば<code>FizzBuzzString16(4)</code>は<code>"12Fizz4"</code>、<code>FizzBuzzString16(16)</code>は<code>"12Fizz4BuzzFizz78FizzBuzzBFizzDEFizzBuzz10"</code>になります</p>  
<br /> 
<p>整数$X$と$Y$が与えられるので<code>FizzBuzzString16(1000000000000)</code>の$X$文字目から$Y$文字目の間にある文字<code>F</code>の個数と文字<code>B</code>の個数の合計を求めてください</p>  
<br /> 
<p>例えば$X=1,Y=5$のとき<code>FizzBuzzString16(1000000000000)</code>の$1$文字目から$5$文字目は<code>"12Fiz"</code>で文字<code>F</code>は$1$個、文字<code>B</code>は$0$個で合計は$1$となります</p>  
<p>例えば$X=3,Y=18$のとき<code>FizzBuzzString16(1000000000000)</code>の$3$文字目から$18$文字目は<code>"Fizz4BuzzFizz78F"</code>で文字<code>F</code>は$3$個、文字<code>B</code>は$1$個で合計は$4$となります</p>  
<br />
<br />
<p>※念のために擬似言語以外での<code>FizzBuzz16</code>と<code>FizzBuzzString16</code>の定義を置いておきます
<details><summary><span class="btn btn-default">C++</span></summary>
<pre><code>#include &lt;sstream&gt;

std::string to_hex_string(int64_t i) {
    std::stringstream s;
    s &lt;&lt; std::uppercase &lt;&lt; std::hex &lt;&lt; i;
    return s.str();
}

std::string FizzBuzz16(int64_t i) {
    if (i % 15 == 0) {
        return "FizzBuzz";
    } else if (i % 3 == 0) {
        return "Fizz";
    } else if (i % 5 == 0) {
        return "Buzz";
    } else {
        return to_hex_string(i);
    }
}

std::string FizzBuzzString16(int64_t n) {
    std::string s = "";
    for (int64_t i = 1; i &lt;= n; i++) {
        s += FizzBuzz16(i);
    }
    return s;
}
</code></pre></details>
<details><summary><span class="btn btn-default">Python</span></summary>
<pre><code>def FizzBuzz16(i):
    if i % 15 == 0:
        return "FizzBuzz"
    elif i % 3 == 0:
        return "Fizz"
    elif i % 5 == 0:
        return "Buzz"
    else:
        return "%X" % i

def FizzBuzzString16(n):
    s = ""
    for i in range(1,n+1):
        s += FizzBuzz16(i)
    return s
</code></pre></details>
<details><summary><span class="btn btn-default">Java</span></summary>
<pre><code>String FizzBuzz16(long i) {
    if (i % 15L == 0L) {
        return "FizzBuzz";
    } else if (i % 3L == 0L) {
        return "Fizz";
    } else if (i % 5L == 0L) {
        return "Buzz";
    } else {
        return String.format("%X", i);
    }
}
 
String FizzBuzzString16(long n) {
    String s = "";
    for (long i = 1L; i &lt;= n; i++) {
        s += FizzBuzz16(i);
    }
    return s;
}
</code></pre></details>
</p>

    </p>
</div>
<div class="block">
    <h4 class="shadow">入力</h4>
    <!-- この下に入力フォーマットを記述してください。MathJaxが使えます。 -->
    <pre>$X$
$Y$
</pre>
    <p>

        <!-- ここに入力の説明、制約等を記述してください。 -->
<p>1行目に整数$X$が与えられます</p>  
<p>2行目に整数$Y$が与えられます</p>  
<br />
<h4 class="shadow">制約</h4>
<p>$1 \le X \le Y \le 1{,}000{,}000{,}000{,}000=10^{12}$</p>


    </p>
</div>
<div class="block">
    <h4 class="shadow">出力</h4>
    <p>
        <!-- ここに出力内容を記述してください。特殊な形式でなければなるべく問題文に記載してください -->
<p><code>FizzBuzzString16(1000000000000)</code>の$X$文字目から$Y$文字目の間にある文字<code>F</code>の個数と文字<code>B</code>の個数の合計を出力してください</p>  

        最後に改行してください。

    </p>
</div>
<div class="block">
    <h4 class="shadow">サンプル</h4>
    <div class="sample">
        <h5 class="underline">サンプル1</h5>
        <div class="paragraph">
            <h6>入力</h6>
            <pre><!-- ここにサンプルケース1の入力を記述してください。 -->1
5
</pre>
            <h6>出力</h6>
            <pre><!-- ここにサンプルケース1に対する解を記述してください。 -->1</pre>
            <p>

                <!-- ここにサンプルケース1に対する説明を記述してください。なければ空欄で構いません。 -->
<p><code>FizzBuzzString16(1000000000000)</code>の$1$文字目から$5$文字目は<code>"12Fiz"</code>で文字<code>F</code>の数は$1$個、文字<code>B</code>の数は$0$個で合計は$1$となります  


            </p>
        </div>
    </div>


    <!-- サンプルケース2ここから。不要であれば、「サンプルケース2ここまで」の行まで削除してください。 -->
    <div class="sample">
        <h5 class="underline">サンプル2</h5>
        <div class="paragraph">
            <h6>入力</h6>
            <pre><!-- ここにサンプルケース2の入力を記述してください。 -->3
18
</pre>
            <h6>出力</h6>
            <pre><!-- ここにサンプルケース2に対する解を記述してください。 -->4</pre>

            <p>
                <!-- ここにサンプルケース2に対する説明を記述してください。なければ空欄で構いません。 -->
<p><code>FizzBuzzString16(1000000000000)</code>の$3$文字目から$18$文字目は<code>"Fizz4BuzzFizz78F"</code>で文字<code>F</code>の数は$3$個、文字<code>B</code>の数は$1$個で合計は$4$となります</p>  
            </p>
        </div>
    </div>
    <!-- サンプルケース2ここまで -->


    <!-- サンプルケース3ここから。不要であれば、「サンプルケース3ここまで」の行まで削除してください。 -->
    <div class="sample">
        <h5 class="underline">サンプル3</h5>
        <div class="paragraph">
            <h6>入力</h6>
            <pre><!-- ここにサンプルケース3の入力を記述してください。 -->33
33
</pre>
            <h6>出力</h6>
            <pre><!-- ここにサンプルケース3に対する解を記述してください。 -->1</pre>

            <p>
                <!-- ここにサンプルケース3に対する説明を記述してください。なければ空欄で構いません。 -->
<p><code>FizzBuzzString16(1000000000000)</code>の$33$文字目は<code>"F"</code>で文字<code>F</code>の数は$1$個、文字<code>B</code>の数は$0$個で合計は$1$となります</p>  
            </p>
        </div>
    </div>
    <!-- サンプルケース3ここまで -->

    <!-- サンプルケースを増やす場合、ここから-ここまで のブロックをコピーし、サンプルケース番号を修正してください。 -->


    <!-- サンプルケース4ここから。不要であれば、「サンプルケース4ここまで」の行まで削除してください。 -->
    <div class="sample">
        <h5 class="underline">サンプル4</h5>
        <div class="paragraph">
            <h6>入力</h6>
            <pre><!-- ここにサンプルケース4の入力を記述してください。 -->769
797
</pre>
            <h6>出力</h6>
            <pre><!-- ここにサンプルケース4に対する解を記述してください。 -->11</pre>

            <p>
                <!-- ここにサンプルケース4に対する説明を記述してください。なければ空欄で構いません。 -->
<p><code>FizzBuzzString16(1000000000000)</code>の$769$文字目から$797$文字目は<code>"F4BuzzFizzF7F8FizzBuzzFBFizzF"</code>で文字<code>F</code>は$8$個、文字<code>B</code>は$3$個で合計は$11$となります  

            </p>
        </div>
    </div>
    <!-- サンプルケース4ここまで -->


    <!-- サンプルケース5ここから。不要であれば、「サンプルケース5ここまで」の行まで削除してください。 -->
    <div class="sample">
        <h5 class="underline">サンプル5</h5>
        <div class="paragraph">
            <h6>入力</h6>
            <pre><!-- ここにサンプルケース5の入力を記述してください。 -->128153
128159
</pre>
            <h6>出力</h6>
            <pre><!-- ここにサンプルケース5に対する解を記述してください。 -->0</pre>

            <p>
                <!-- ここにサンプルケース5に対する説明を記述してください。なければ空欄で構いません。 -->
<p><code>FizzBuzzString16(1000000000000)</code>の$128153$文字目から$128159$文字目は<code>"7777777"</code>で文字<code>F</code>も文字<code>B</code>もありません</p>  
            </p>
        </div>
    </div>
    <!-- サンプルケース5ここまで -->


    <!-- サンプルケース6ここから。不要であれば、「サンプルケース6ここまで」の行まで削除してください。 -->
    <div class="sample">
        <h5 class="underline">サンプル6</h5>
        <div class="paragraph">
            <h6>入力</h6>
            <pre><!-- ここにサンプルケース6の入力を記述してください。 -->808
277288
</pre>
            <h6>出力</h6>
            <pre><!-- ここにサンプルケース6に対する解を記述してください。 -->52258</pre>

            <p>
                <!-- ここにサンプルケース6に対する説明を記述してください。なければ空欄で構いません。 -->
            </p>
        </div>
    </div>
    <!-- サンプルケース6ここまで -->


    <!-- サンプルケース7ここから。不要であれば、「サンプルケース7ここまで」の行まで削除してください。 -->
    <div class="sample">
        <h5 class="underline">サンプル7</h5>
        <div class="paragraph">
            <h6>入力</h6>
            <pre><!-- ここにサンプルケース7の入力を記述してください。 -->1
1000000000000
</pre>
            <h6>出力</h6>
            <pre><!-- ここにサンプルケース7に対する解を記述してください。 -->157481468199</pre>

            <p>
                <!-- ここにサンプルケース7に対する説明を記述してください。なければ空欄で構いません。 -->
            </p>
        </div>
    </div>
    <!-- サンプルケース7ここまで -->

    
</div>
